::selection{
    background-color: bisque;
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #7a9816;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee2453, #d8363a, #dd3675, #b0b445);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
#user{
    text-decoration: none;
    font-family: serif;
    font-size: 20px;
}    
.line ,.line2{
    position: relative;
}

.line::after , .line2::after{
    content: "";
    position: absolute;
    
    width: 0;
    height: 0;
        
    background-color: rgba(240, 215, 76, 0.584);
    transition: 0.3s;
    
    bottom:0;
    left: 0;

    border-radius: 5px;
    
    opacity: 0;
}

.line:hover::after{
    width: 100%;
    height: 7%;
    opacity: 1;
}

.line2:hover::after{
    margin-left: 8px;
    width: 40%;
    height: 5%;
    opacity: 1;
}
#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.foot{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #333;
}

.del-icon{
    width: 35px;
    background-color: #0b0a0a;
    color: rgb(243, 235, 219);
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: auto;
}
#nothing-alert{
    display: none;
    width: 20%;
    font-size: 30px;
    background-color:coral ;
    margin: 50px auto;
    text-align: center;
  }